.category {
	overflow: hidden;

	max-width: 100%;
	padding: 20px;

	list-style: none;

	border: none;
	border-radius: 10px;
	background: var(--white);
	box-shadow: 6px 6px 7px rgb(0 0 0 / 5%);
}

.title {
	overflow: hidden;

	margin: 0 0 10px;
	padding-bottom: 10px;

	hyphens: auto;

	color: var(--gray-dark);
	border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.categories {
	padding: 0;

	list-style: none;
}

.categories li {
	margin-bottom: 10px;

	transition: all 0.4s ease;
}

.categories li:last-of-type {
	margin-bottom: 0;
}

.categories li:hover {
	opacity: 0.8;
	color: var(--primary);
}

.dots {
	font-size: 22px;
}
