.star svg {
	margin-right: 5px;
}

.star {
	display: inline-block;
}

.filled svg {
	fill: var(--primary);
}

.editable {
	cursor: pointer;
}

.error svg {
	stroke: var(--red);
}

.errorMessage {
	position: absolute;
	right: 0;
	bottom: -20px;

	color: var(--red);
}

.ratingWrapper {
	position: relative;

	white-space: nowrap;
}
